*{
    padding: 0;
    margin: 0;

}

#app{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 1fr 30fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    background-image: linear-gradient(to bottom right, rgb(136, 255, 0), rgb(0, 255, 170));
    
}

#canvas{
    margin: auto;
    height: 550px;
    width: 550px;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-gap: 1px;
    background-color: rgb(75, 82, 184);
    box-shadow: 5px 5px 12px -6px black, 0 0 6px -3px; 
}

.snake{
    background-color : salmon;
    border-radius: 50%;
}

.apple{
    background-color : red;
    border-radius: 50%;
}